/* As I said in the README, I'll replace Bootstrap by Tailwind later */
/* Also this css is temporary since I'll do my own design later */
/* I'm just building the core first */
@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&display=swap");

body {
    font-family: "Nunito", sans-serif;
    background: rgb(40, 40, 40);
}

/* Chat component styles */
#chat-container {
    display: flex;
}

/* Main content styles */
.main-content {
    flex: 1;
    padding: 20px;
    background: rgb(40, 40, 40);
}

/* Sidebar styles */
.sidebar {
    height: calc(100vh - 3.75rem);
    width: 75px;
    background-color: rgb(53, 53, 53);
    overflow-y: scroll;
    position: relative;
    align-items: center;
    display: flex;
    flex-direction: column;
}

/* Tooltip container */
.server-tooltip {
    position: relative;
    padding: 8px;
}

/* Tooltip text */
.server-tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
    position: fixed;
    z-index: 2;
}

/* Show the tooltip text when you mouse over the tooltip container */
.server-tooltip:hover .tooltiptext {
    visibility: visible;
}


::-webkit-scrollbar {
    display: none;
}