/* As I said in the README, I'll replace Bootstrap by Tailwind later */
/* Also this css is temporary since I'll do my own design later */
/* I'm just building the core first */
@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&display=swap");

body {
    font-family: "Nunito", sans-serif;
    background: rgb(40, 40, 40);
}

p {
    color: white;
    margin-bottom: 0;
}

h2 {
    color: white;
    margin-bottom: 0;
}

/* Chat component styles */
#chat-container {
    display: flex;
}

/* CreateChannel Modal */
.modal-content, .form-check-input {
    color: white;
    background-color: rgb(53, 53, 53);
}

label.form-label {
    font-size: small;
    font-weight: bold;
}

.radio-option {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
    background-color: rgb(40, 40, 40);
    padding: 10px;
}

.radio-input {
    order: 2; /* Move the input to the right side */
}

.radio-label {
    order: 1; /* Move the label to the left side */
}

span.input-group-text, input.channelName, input.channelName:focus {
    color: white;
    background-color: rgb(40, 40, 40);
    border: none;
}

.form-control::placeholder {
    color: rgb(138, 138, 138);
}

/* Main content styles */
.main-content {
    flex: 1;
    padding: 20px;
    background: rgb(40, 40, 40);
}

/* Sidebar styles */
.sidebar {
    height: calc(100vh - 3.75rem);
    width: 75px;
    background-color: rgb(53, 53, 53);
    overflow-y: scroll;
    position: relative;
    align-items: center;
    display: flex;
    flex-direction: column;
}

/* Tooltip container */
.server-tooltip {
    position: relative;
    padding: 8px;
}

/* Tooltip text */
.server-tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
    position: fixed;
    z-index: 2;
}

/* Show the tooltip text when you mouse over the tooltip container */
.server-tooltip:hover .tooltiptext {
    visibility: visible;
}

::-webkit-scrollbar {
    display: none;
}